<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile
    ><div>
      <h1 class="no-toc" id="introduction-to-the-angular-docs">
        Introduction to the Angular docs<a
          title="Link to this heading"
          class="header-link"
          aria-hidden="true"
          href="docs#introduction-to-the-angular-docs"
          ><i class="material-icons">link</i></a
        >
      </h1>
      <p>
        Angular is an application-design framework and development platform for
        creating efficient and sophisticated single-page apps.
      </p>
      <p>
        These Angular docs help you learn and use the Angular framework and
        development platform, from your first application to optimizing complex
        single-page applications for enterprises. Tutorials and guides include
        downloadable examples to help you start your projects.
      </p>
    </div></mat-grid-tile
  >
  <mat-grid-tile>Random Content</mat-grid-tile>
  <mat-grid-tile>
    <div>
      <button mat-raised-button color="primary">Sample Button</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    ><div>
      <h1 id="introduction-to-forms-in-angular">
        Introduction to forms in Angular<a
          title="Link to this heading"
          class="header-link"
          aria-hidden="true"
          href="guide/forms-overview#introduction-to-forms-in-angular"
          ><i class="material-icons">link</i></a
        >
      </h1>
      <p>
        Handling user input with forms is the cornerstone of many common
        applications. Applications use forms to enable users to log in, to
        update a profile, to enter sensitive information, and to perform many
        other data-entry tasks.
      </p>
    </div></mat-grid-tile
  >
</mat-grid-list>
